<div class="container">
  <div class="row">
    <div class="col-md-12 content-wrapper">
        <div class="container wrapper-2">
          <h5 class="subpage-title">Why Create the Flatiron Showcase?</h5>
          <h5>
            <p>Flatiron School students are intelligent, hardworking, and passionate.
              After working with an amazing group for three months, Boyoung and
              Ariel wanted to create a platform where everyone could get a taste
              of the intensity and creativity of Flatiron students.</p>
            <p>The results astounded us, and we hope you too will be wowed by
              the accomplishments of Flatiron students.</p>
          </h5>
        </div>
      </div>
      <div class="col-md-12 content-wrapper">
        <div class="container wrapper-2">
          <h5 class="subpage-title">The Technologies</h5>
          <h5>
            <p>On the back end, the Flatiron Showcase is powered by Rails, with
              lots of help from some of our favorite gems: Fog and Carrierwave (for
              storing image files), Webshot and RMagick (for processing images), and
              Octokit (for accessing the GitHub API).  Files are stored on Amazon S3.</p>
            <p>The front-end uses FlatPoint, a Bootstrap theme, along with a number
              of jQuery libraries: the Revolution Slider, CarouFredSel, and Isotope.</p>
          </h5>
        </div>
      <section id="team-4-columns" class="section">
        <div class="container wrapper-2">
          <h5 class="subpage-title">The Developers</h5>
            <% @dev_team.each do |dev| %>
            <div class="col-md-3 team-member-wrapper">
                <div class="team-member">
                    <div class="team-member-thumb">
                        <img src="<%= dev.avatar_url %>" class="img-responsive" alt="Member Image">
                        <%= link_to dev do %><div class="overlay"></div><% end %>
                        <ul class="member-social">
                            <li>
                              <a href="<%= dev.github_url %>" target="_blank"><i class="icon-github"></i></a>
                            </li>
                            <% if dev.twitter_handle %>
                              <li><a href="http://twitter.com/<%= dev.twitter_handle %>" target="_blank"><i class="icon-twitter"></i></a></li>
                            <% end %>
                            <% if dev.linkedin_url %>
                              <li><a href="http://<%= dev.linkedin_url %>" target="_blank"><i class="icon-linkedin"></i></a></li>
                            <% end %>
                        </ul>
                    </div>
                    <%= link_to dev do %>
                      <div class="team-member-info">
                          <h5><%= link_to dev.name, dev %></h5>
                      </div>
                   <% end %>
                </div>
            </div>
           <% end %>
          </div>
       
        </div>
        <!-- /.container -->
      </section>
      <!-- /#team-3-columns -->
      <br>
    </div>
  </div>
</div>