<%= render partial: 'layouts/document_beginning' %>
<section id="tp-banner-container" class="fullwidthbanner-container tp-banner-container hidden-xs">
  <div class="tp-banner">
      <ul>
        <% @projects.each_with_index do |project, index| %>
          <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
              <img src="/assets/slider-backgrounds/<%= @colors.take(index + 1).last %>.png" alt="Slide Image">
              <div class="caption sft stt tp-caption start modern_big_redbg"
                  data-x="583"
                  data-y="60"
                  data-speed="300"
                  data-start="2200"
                  data-easing="easeOutExpo"><%= project.display_name.upcase %></div>
              <div class="tp-caption theme_caption4 lft ltt"
                  data-x="583"
                  data-y="105"
                  data-speed="300"
                  data-start="2400"
                  data-easing="easeOutExpo"><%= project.brief_description %></div>
              <% if project.longer_description %>
                <div class="tp-caption medium_grey sft stt"
                    data-x="583"
                    data-y="150"
                    data-speed="600"
                    data-start="2600"
                    data-easing="easeOutExpo" style="background: rgba(140, 140, 140, 0.8); height: 200px; overflow: auto; text-wrap: wrap; padding: 10px">
                    <div>
                        <% split_to_length(project.longer_description, 60).each do |str| %>
                          <p><%= str %></p>
                        <% end %>
                    </div>
                </div>
              <% end %>
              <a href="/projects/<%= project.id %>"
                  class="caption btn btn-flat flat-success sfb stb" 
                  data-x="615"
                  data-y="360"
                  data-speed="300" 
                  data-start="2800"
                  data-easing="easeOutExpo">More About this Project</a>
              <a href="<%= project.live_app_url %>" target="_blank"
                  class="caption btn btn-flat flat-color sfb stb"  
                  data-x="855" 
                  data-y="360" 
                  data-speed="300"
                  data-start="3000"
                  data-easing="easeOutExpo">See the Project Live!</a>
              <%= new_tab_link project do %>
                <div class="caption boxshadow lfl ltr"
                    data-x="0" 
                    data-y="30" 
                    data-speed="900"
                    data-start="1200" 
                    data-easing="easeOutCirc"><%= image_tag project.primary_image.medium.url %></div>
              <% end %>
              <div class="caption sft ltr clearfix"
                  data-x="0" 
                  data-y="460" 
                  data-speed="900"
                  data-start="1200" 
                  data-easing="easeOutBack" style="margin-right: 50px">
                    <% project.visible_users.each do |user| %>
                        <%= link_to user do %>
                          <img src="<%= user.avatar_url %>" alt="Member Image" height="<%= image_size(project) %>" width="<%= image_size(project) %>" style="margin: <%= image_size(project) / 10 %>px; display: block; float: left;">
                        <% end %>
                    <% end %>
              </div>
          </li>
        <% end %>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
  </div>
</section>
<script type="text/javascript">

  var revapi;

  jQuery(document).ready(function() {

       revapi = jQuery('.tp-banner').revolution(
      {
        delay:15000,
        startwidth:1170,
        startheight: 800,
        hideThumbs:10,
        fullWidth:"off",
        fullScreen:"on",
        fullScreenOffsetContainer: "",

        navigationType: "bullet",
        navigationArrows: "nexttobullet",
        navigationStyle: "round",
        navigationVAlign: "bottom",
        navigationHOffset: 30,
        navigationVOffset: 30,

        soloArrowLeftHalign: "left",
        soloArrowLeftValign: "center",
        soloArrowLeftHOffset: 20,
        soloArrowLeftVOffset: 0,


        soloArrowRightHalign: "right",
        soloArrowRightValign: "center",
        soloArrowRightHOffset: 20,
        soloArrowRightVOffset: 0,

        shadow: "none"

      });

  }); //ready

</script>
<%= render partial: 'layouts/document_end' %>