<!-- <h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Twitter handle</th>
      <th>Linkedin url</th>
      <th>Github url</th>
      <th>Avatar url</th>
      <th>Bio</th>
      <th>Hireable</th>
      <th>Projects</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.twitter_handle %></td>
        <td><%= user.linkedin_url %></td>
        <td><%= user.github_url %></td>
        <td><%= user.avatar_url %></td>
        <td><%= user.bio %></td>
        <td><%= user.hireable %></td>
        <td><%= user.projects.map(&:name).join(", ") %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->

<section id="team-4-columns" class="section">
    <div class="container wrapper-2">
        <h5 class="subpage-title">The Flatiron School Students</h5>
        <% @users.each_slice(4) do |user_set| %>
          <div class="row">
            <% user_set.each do |user| %>
              <div class="col-md-3 team-member-wrapper">
                <div class="team-member">
                    <div class="team-member-thumb">
                        <img src="<%= user.avatar_url %>" class="img-responsive" alt="Member Image">
                        <%= link_to user do %><div class="overlay"></div><% end %>
                        <ul class="member-social">
                            <li>
                              <a href="<%= user.github_url %>" target="_blank"><i class="icon-github"></i></a>
                            </li>
                            <% if user.twitter_handle %>
                              <li><a href="http://twitter.com/<%= user.twitter_handle %>" target="_blank"><i class="icon-twitter"></i></a></li>
                            <% end %>
                            <% if user.linkedin_url %>
                              <li><a href="<%= user.linkedin_url %>" target="_blank"><i class="icon-linkedin"></i></a></li>
                            <% end %>
                        </ul>
                    </div>
                    <%= link_to user do %>
                      <div class="team-member-info">
                          <h5><%= user.name %></h5>
                          <!-- <span>Ruby 004</span> NOTE: may use this later for a subheader -->
                      </div>
                    <% end %>
                </div>
            </div>
            <% end %>
          </div>
        <% end %>
    </div>
    <!-- /.container -->
</section>
<!-- /#team-3-columns -->