<section id="short-intro" class="section colored-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3 wrapper-1">
                <div class="team-member">
                    <div class="team-member-thumb">
                        <img src="<%= @user.avatar_url %>" class="img-responsive" alt="Member Image">
                        <%= link_to @user do %><div class="overlay"></div><% end %>
                        <ul class="member-social">
                            <li>
                              <a href="<%= @user.github_url %>" target="_blank"><i class="icon-github"></i></a>
                            </li>
                            <% if @user.twitter_handle %>
                              <li><a href="http://twitter.com/<%= @user.twitter_handle %>" target="_blank"><i class="icon-twitter"></i></a></li>
                            <% end %>
                            <% if @user.linkedin_url %>
                              <li><a href="http://<%= @user.linkedin_url %>" target="_blank"><i class="icon-linkedin"></i></a></li>
                            <% end %>
                        </ul>
                    </div>
                    <%= link_to @user do %>
                      <div class="team-member-info">
                          <h5><%= @user.name %></h5>
                          <!-- <span>Ruby 004</span> NOTE: may use this later for a subheader -->
                      </div>
                    <% end %>
                </div>
            </div>
            <div class="col-md-6 wrapper-1">
                <h5 class="subpage-title">About <%= @user.name %></h5>
                <p><%= @user.bio || "Biography under construction..." %></p>
            </div>
            <div class="col-md-3 item-details">
                <div class="wrapper-1">
                    <h5 class="subpage-title">Online Presence</h5>
                    <ul class="project-details-list">
                        <% if @user.linkedin_url %>
                        <li class="clearfix">
                            <h6>LinkedIn:</h6>
                            <div class="project-terms">
                                <%= new_tab_link "http://"+@user.linkedin_url, "http://"+@user.linkedin_url %>
                            </div>
                        </li>
                        <% end %>
                        <% if @user.twitter_handle %>
                        <li class="clearfix">
                            <h6>Twitter:</h6>
                            <div class="project-terms">
                                <%= new_tab_link "#" + @user.twitter_handle, @user.twitter_url %>
                            </div>
                        </li>
                        <% end %>
                        <li class="clearfix">
                            <h6>Github:</h6>
                            <div class="project-terms">
                                <%= new_tab_link @user.github_login, @user.github_url %>
                            </div>
                        </li>
                        <li class="clearfix">
                            <h6>Most Recent Commit:</h6>
                            <div class="project-terms">
                                <%= @user.last_commit.datetime %> to <%= new_tab_link @user.last_commit.repo, @user.last_commit.repo_url %> <%= new_tab_link "(Browse the Code)", @user.last_commit.commit_url %>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                <%= link_to "Edit", edit_user_path, class: "btn btn-flat flat-primary btn-rounded btn-lg btn-block" %>
                </div>
            </div>
        </div>
     </div>
    <!-- /.container -->
</section>
    <!-- /#short-intro -->
<section id="projects" class="section">
        <div class="container">
            <h5 class="subpage-title">Projects</h5>
            <div class="row">
              <% @user.projects.each do |project| %>
                <div class="col-xs-12 col-sm-6 col-md-4 wrapper-1">
                    <div class="service service-3">
                        <span class="service-icon"><%= link_to raw("<img src=\"#{project.primary_image.thumb.url}\" alt=\"#{project.display_name}\">"), project %></span>
                        <h4><%= link_to project.display_name, project %></h4>
                        <p><%= project.brief_description || "Description not found." %></p>
                    </div>
                </div>
              <% end %>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#our-services -->