<form class="comment-form">
                                <h5 class="subpage-title">Add Comment</h5>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input class="form-control" placeholder="Name (required)" type="text">
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" placeholder="Email (required)" type="text">
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" placeholder="Website" type="text">
                                    </div>
                                </div>
                                <!-- row-fluid -->
                                <textarea class="form-control" rows="3"></textarea>
                                <button class="btn btn-flat flat-color">Post Comment</button>
                            </form>
                            <!-- /.comment-form -->


<%= form_for(@project, class: "comment-form") do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :display_name %><br>
    <%= f.text_field :display_name %>
  </div>
  <div class="field">
    <%= f.label :live_app_url %><br>
    <%= f.text_field :live_app_url %>
  </div>
  <div class="field">
    <%= f.label :technologies %><br>
    <%= f.text_field :technologies %>
  </div>
  <div class="app_type_select">
    <%= f.label :app_type %><br>
    <%= select_tag "project[app_type]", options_from_collection_for_select(AppType.all, "id", "name"), {:multiple => true, :size => AppType.all.size} %>
  </div>
  <div class="field">
    <%= f.label :brief_description %><br>
    <%= f.text_field :brief_description %>
  </div>
  <div class="field">
    <%= f.label :longer_description %><br>
    <%= f.text_area :longer_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
