<div class="container">
<%= form_tag "/projects" do %>
  <% @select_projects.each do |project| %>
    <h3 class="subpage-title">Project: <%= project.name[/\/.+/][1..-1] %></h3>
    <%= fields_for project do |f| %>
      <%= f.hidden_field(:name, {name: "projects[][name]"} ) %>
      <%= f.hidden_field(:github_id, {name: "projects[][github_id]"} ) %>
      <%= f.label :display_name %>:
      <%= f.text_field :display_name, {name: "projects[][display_name]", val: project.name[/\/.+/][1..-1]} %><br />
      <%= f.label :live_app_url %>:
      <%= f.text_field :live_app_url, {name: "projects[][live_app_url]"} %><br /> 
    <% end %>
   <% end %>
  <%= submit_tag "update" %>
<% end %>
</div>
