<div class="container">
<%= form_tag "/projects" do %>
  <% @select_projects.each do |project| %>
    <div class="row">
      <h4 class="subpage-title">Project: <%= project.name[/\/.+/][1..-1] %></h4>
      <%= fields_for project do |f| %>
        <%= f.hidden_field(:name, {name: "projects[][name]"} ) %>
        <%= f.hidden_field(:github_id, {name: "projects[][github_id]"} ) %>
        <div class="col-md-3">
        <%= f.label :display_name %>
        <%= f.text_field :display_name, {name: "projects[][display_name]", class: "form-control", val: project.name[/\/.+/][1..-1] } %>
        </div>
        <div class="col-md-3">
        <%= f.label :live_app_url %>
        <%= f.text_field :live_app_url, {name: "projects[][live_app_url]", class: "form-control" } %>
        </div>
      <% end %>
    </div>
    <br>
  <% end %>
   <div class="actions clearfix">
      <div class="col-md-3">
        <%= submit_tag @showcase_button_text, class: "btn btn-flat flat-primary btn-rounded btn-lg btn-block" %>
      </div>
<% end %>
      <div class="col-md-3">
        <%= link_to "Back", new_project_path, class: "btn btn-flat flat-danger btn-rounded btn-lg btn-block" %>
      </div>
  </div>
  <br>
</div>
