<div class="container">
  <div class="row">
    <div class="col-md-12 content-wrapper">
        <div class="container wrapper-2">
          <h5 class="subpage-title">Motivation</h5>
          <h5>It was truly unique experience to work with smart, intelligent, and passionate people in Flatiron School. Everyone worked really hard and now it's time to show people what we have built. Ariel and I thought it would be awesome if we can create an application that collects all the projects that our teammates work on during the semester and here comes the result... :)
          </h5>
        </div>
      <section id="team-4-columns" class="section">
        <div class="container wrapper-2">
          <h5 class="subpage-title">Developers</h5>
            <% dev1 = User.all.find_by(:github_login => "amcaplan") %>
            <% dev2 = User.all.find_by(:github_login => "bokwon") %>
            <% dev_team = [] %>
            <% dev_team << dev1 %>
            <% dev_team << dev2 %>
            <% dev_team.each do |dev| %>
            <div class="col-md-3 team-member-wrapper">
                <div class="team-member">
                    <div class="team-member-thumb">
                        <img src="<%= dev.avatar_url %>" class="img-responsive" alt="Member Image">
                        <%= link_to dev do %><div class="overlay"></div><% end %>
                        <ul class="member-social">
                            <li>
                              <a href="<%= dev.github_url %>" target="_blank"><i class="icon-github"></i></a>
                            </li>
                            <% if dev.twitter_handle %>
                              <li><a href="http://twitter.com/<%= dev.twitter_handle %>" target="_blank"><i class="icon-twitter"></i></a></li>
                            <% end %>
                            <% if dev.linkedin_url %>
                              <li><a href="http://<%= dev.linkedin_url %>" target="_blank"><i class="icon-linkedin"></i></a></li>
                            <% end %>
                        </ul>
                    </div>
                    <%= link_to dev do %>
                      <div class="team-member-info">
                          <h5><%= link_to dev.name %></h5>
                      </div>
                   <% end %>
                </div>
            </div>
           <% end %>
          </div>
       
    </div>
    <!-- /.container -->
</section>
<!-- /#team-3-columns -->
      <br>
    </div>
  </div>
</div>