<section id="current-images" class="section colored-wrapper">
    <%= render partial: 'current_images' %>
</section>

<section id="primary-image-section" class="section">
    <%= render partial: 'primary_image' %>
</section>

<section id="image-upload" class="section colored-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <%= form_tag({action: :upload_image}, multipart: true) do %>
                <h5 class="subpage-title">Upload a new image</h5>
                <h5>We recommend a large image with extra vertical and horizontal space.</h5><br>
                <%= file_field_tag :image, id: "new-project-image" %>
                <br>
                <%= submit_tag "Upload", id: "project-image-upload-button", class: "btn btn-primary disabled" %>
              <% end %>
              <br><br>
            </div>
            <div class="col-md-4">
                <h5 class="subpage-title">Generate a new image</h5>
                <button id="take-screenshot" class="btn btn-flat flat-primary btn-lg btn-rounded">Take a Screenshot!</button>
                <br><br>
            </div>
            <div class="col-md-4">
                <h5 class="subpage-title">Done Editing Images?</h5>
                <%= link_to @project do %>
                    <button id="take-screenshot" class="btn btn-flat flat-danger btn-lg btn-rounded">Return to Project Page</button>
                <% end %>
                <br><br>
            </div>
        </div>
    </div>
</section>
<%= javascript_include_tag 'images' %>