<footer id="footer-1" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="widget about-us">
                    <span class="footer-brand"><span>The</span>Flatiron<span>Showcase</span></span>
                    <p>
                        We know how awesome Flatiron School students are, but we wanted
                        to share it with the world.  Check out what students have been
                        doing after just a few months of programming!
                    </p>
                </div>
                <!-- /.about-us -->
            </div>
            
            <div class="col-md-4">
                <div class="widget popular-posts">
                    <h5 class="subpage-title">Tweets by @flatironschool</h5>
                    <%= render partial: 'layouts/flatiron_twitter_feed' %>
                </div>
                <!-- /.popular-posts -->
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-4">
                <div class="widget popular-posts">
                    <h5 class="subpage-title">Recent Projects by Students</h5>
                    <ul class="recent-posts">
                        <% @recent_projects.each do |project| %>
                        <li>
                            <%= link_to raw("<img src=\"#{project.primary_image.thumb.url}\" alt=\"#{project.display_name}\">"), project %>
                            <h5>
                                <%= link_to project.display_name, project %>
                                <small>Posted on <%= project.created_at.strftime("%m/%d/%Y") %></small>
                                <small>Last commit: <%= project.last_commit %></small>
                            </h5>
                        </li>
                        <% end %>
                    </ul>
                </div>
                <!-- /.popular-posts -->
            </div>
            <!-- /.col-md-3 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>