<header id="header-2" class="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <%= link_to raw('<span>The</span> Flatiron <span>Showcase</span>'), root_url, class: "navbar-brand" %>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <%= link_to "Home", root_path %>
                    </li>
                    <li>
                        <%= link_to "Showcase", projects_path %>
                    </li>
                    <li>
                        <%= link_to "Projects", projects_path %>
                    </li>
                    <% if current_user %>
                    <li>
                        <%= link_to "Add Your Projects", new_project_path %>
                    </li>
                    <% end %>
                    <li>
                        <%= link_to "Students", users_path %>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
                        <ul class="dropdown-menu">
                            <li><a href="http://flatironschool.com">The Flatiron School</a></li>
                            <li><a href="about-us.html">The Flatiron Showcase Team</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- /.nav -->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- /.navbar -->
</header>